<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package Id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package Id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package Id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package Id="Microsoft.CodeDom.ProvIders.DotNetCompilerPlatform" version="1.0.5" targetFramework="net461" />
  <package Id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net461" developmentDependency="true" />
  <package Id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
</packages>